.article {
    display:flex;
    flex-direction: column;
}

img {
    display: block;
    margin: 0 auto;
}

@media (min-width: 500px) {
    .article {
        display: flex;
        flex-direction: row;  
        align-items: center;
    }

    .article:nth-last-of-type(even){
        flex-direction: row-reverse;
    }
}